INFRA_HOST=10.20.2.10

DB_HOST=${INFRA_HOST}
DB_PORT=5432
DB_NAME=uce_tramites
DB_USER=uce
DB_PASS=uce123

KAFKA_BOOTSTRAP=${INFRA_HOST}:9092
REDIS_HOST=${INFRA_HOST}
REDIS_PORT=6379
RABBITMQ_HOST=${INFRA_HOST}
MONGO_URI=mongodb://${INFRA_HOST}:27017
